.homepage {
    &__property {
      &__preview {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgba(19, 7, 7, 0.3);
        padding: 60px;
      }
  
      &__details {
        display: flex;
        flex-direction: column;
        padding: 64px 0 0;
        line-height: 24px;
      }

      &__title {
        display: flex;
        width: fit-content;
        padding: 8px;
        font-size: 18px;
        margin: 8px 0 8px;
      }

      &__description {
        display: flex;
        width: fit-content;
        padding: 8px;
        font-size: 18px;
        margin: 8px 0 8px;
      }

      &__link {
        font-size: 18px;
        font-weight: 600px;
        padding: 0 0 42px;
      }
    }
}