.homepage {
    &__searchbar {
      display: flex;
      flex-direction: column;
      width: max-content;
      font-size: 18px;
      padding: 18px 24px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 2px solid rgba(19, 7, 7, 0.3);
    
        &__title {
            padding: 8px 0;
            font-weight: 800;
        }
  
        input {
            width: 380px;
            min-height: 32px;
            font-size: 18px;
            padding-left: 12px;
        }
    }
}