body {
  background-image: url("./houses-battern-bg.svg");
  background-color: #cccccc;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 64px;
  font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 64px;
  }

  &__property-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(19, 7, 7, 0.3);
    padding: 60px;
  }

  &__searchbar {
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 18px;
    padding: 18px 24px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(19, 7, 7, 0.3);

    &__title {
      padding: 8px 0;
      font-weight: 800;
    }

    input {
      width: 300px;
      min-height: 32px;
      font-size: 18px;
      padding-left: 12px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    a {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      text-decoration: none;
      color: black;
      font-weight: 600;
    }

    &__item {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 18px 24px;
      margin: 8px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 2px solid rgba(19, 7, 7, 0.3);
      
      &:hover {
        cursor: pointer;
      }

      img {
        width: 50px;
        height: 50px;
        padding-right: 24px;
      }

      &__title {
        padding-right: 12px;
      }

      &__description {
        padding-right: 22px;
      }
    }
  }
}